@import "variables";

.btn-fix-width {
    width: 55px;
    margin: 6px;
}

.button-collage {
	margin-bottom: 20px;
}

.list-group-item {
	border-color: #a6a6a6;
}

a, a:hover, a:visited {
	color: lighten(black, 20%);
	text-decoration: none;
}

.btn-danger.active {
	background-color: darken(@brand-danger, 25%);
}

.btn-success.active {
	background-color: darken(@brand-success, 25%);
}

.btn-info.active {
	background-color: darken(@brand-info, 25%);
}

.btn-warning.active {
	background-color: darken(@brand-warning, 25%);
}

.list-group-item-danger {
	background-color: @brand-danger;
	color: #fff;
}

.list-group-item-success {
	background-color: @brand-success;
	color: #fff;
}

.list-group-item-info {
	background-color: @brand-info;
	color: #fff;
}

.list-group-item-warning {
	background-color: @brand-warning;
	color: #fff;
}
