<!doctype html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Lost Cities Score Counter</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular-touch.min.js"></script>

  <script src="js/scorecounter.js"></script>
  <link rel="stylesheet" href="css/site.css">

</head>
<body>
  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <h1>Lost Cities <small>Score Counter</small></h1>
      </div>
    </div>

    <div class="row" ng-controller="ScoreCounterController">
      <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Cards</h3>
          </div>
          <div class="panel-body">
            <div class="row text-center">
              <div class="col-xs-6 col-sm-4 button-collage" ng-repeat="cardgroup in cardgroups" ng-swipe-left="resetCardgroup(cardgroup.color)">
                <button type="button" class="btn btn-lg btn-fix-width" ng-class="{'btn-danger': cardgroup.color == 'Red', 'btn-success': cardgroup.color == 'Green', 'btn-default': cardgroup.color == 'White', 'btn-info': cardgroup.color == 'Blue', 'btn-warning': cardgroup.color == 'Yellow', active: card.checked}" ng-click="card.checked = !card.checked; calculateScore(cardgroup.color)" ng-repeat="card in cardgroup.cards">{{card.name}}</button>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            Swipe to the left over each card group to clear.
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Total score</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">
                <ul class="list-group">
                  <li class="list-group-item" ng-class="color.style" ng-repeat="color in scoreTable">
                    <span class="badge">{{color.score}}</span>{{color.color}} city
                  </li>
                  <li class="list-group-item sum">
                    <span class="badge">{{totalScore}}</span><strong>TotalScore</strong>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center">
        <small>
          <a href="https://github.com/gudnithor/"><img src="pic/GitHub-Mark-32px.png" width="16" alt="gudnithor"> gudnithor</a>
        </small>
        <br/><br/>
      </div>
    </div>

  </div>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-50188677-1', 'gudnithor.github.io');
    ga('send', 'pageview');
  </script>
</body>
</html>